*{
    text-transform: capitalize;
    text-decoration: none;
    list-style-type: none;
    
}
form input {
    text-transform: lowercase;
}
::selection{
    color: #FEC260;
}
body{
    background-color: #f7ecde;
}
h1{
    font-family: 'Pacifico', cursive;
    width: fit-content;
    margin: 0 auto;
}
.logo h1::after{
    position: absolute;
    content: "";
    background-color: #FEC260;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
   
}
.logo h1:hover::after{
    height:80%;
}
.websiteInfo{
    background-color: #fff;
}
form{
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}
.parent .title{

    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

tbody{
    border-style: none !important;
}